<h3>{{ page.title }}</h3>

{% if page.category == "slides" or page.category == "presentation" %}
    {% include embed.html content=page %}
    <blockquote>
        {{ content }}
    </blockquote>
{% elsif page.category == "article" %}
    {{ content }}
    {% include cta.html url=page.url body="Read more" icon="book_open" %}
{% endif %}

{% if page.authors %}
    {%for author in page.authors %}
        {% include person.html person=author %}
    {% endfor %}
{% elsif page.author %}
    {% include person.html person=page.author %}
{% endif %}
        